<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperación de password</title>
</head>

<body
  style="padding: 1rem;font-family: Arial, Helvetica, sans-serif;letter-spacing: 0.5px;line-height: 1.2rem;margin: 1.rem 0">
  <img src="https://la-cava.herokuapp.com/images/icons/icon-128x128.png" title="La Cava" />
  <h2>Orden de compra</h2>
  <p>Hola,</p>
  <p>Adjunto detalle de orden de compra de La Cava:</p>
  <div
    style="padding: 1rem;font-weight: bold;width: fit-content;font-family: 'Courier New', Courier, monospace;font-size: 2rem;background-color: #efefef">
    {items}</div>
  <p>Gracias</p>
  <div style="margin-top: 2rem;line-height: 0.3rem;">

    <p style="font-weight: bold;">
      La Cava
    </p>
    <p>
      Tienda de bebidas y friambrería
    </p>
  </div>

</html>